asistente-virtual/model_folder/model.safetensors filter=lfs diff=lfs merge=lfs -text
asistente[[:space:]]virtual/alternative_model_folder/* filter=lfs diff=lfs merge=lfs -text
alternative_model_folder/model.safetensors filter=lfs diff=lfs merge=lfs -text
